.banner{
	height: 450px;
	background-image: 
	linear-gradient(-245deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 68%),
	url(../../images/banner.jpg);
	background-size: cover;
	background-position: center;
	margin-top:0px;
	text-align: left;
}
.banner h1 {
  color: white;
  font-size: 70px;
  margin-top: 0px;
  padding-top:25px;
  padding-bottom: 0px;
}
.banner h2 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
	opacity: 0.8;
}